*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 10px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border: 2px solid black;
    color: white;
    font-weight: 900;
}
#output{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}
 .card{
    max-width: 500px;
  margin: auto;
  background-color: black;
  color: white;
  text-align: center;

 }
.card .output{
    height: 200px;
    border: 2px solid black;
    text-align: center;
    background-color: cornflowerblue;
}
input{
    border: 1px solid black;
    border-radius:10px ;
    text-align: center;
    margin: auto;
}
.btn{
    background-color: cornflowerblue;
    font-weight: 800;
}
.btn:hover{
background-color: white;
color: black;
}